.appointment-container button {
  background-color: #1cc7c1;
  border: none;
  color: white;
  padding: 8px 12px;
}

.appointment-container h4 {
  color: #1cc7c1;
}

.appointment-row {
  background-image: linear-gradient(
      rgba(36, 41, 73, 0.9),
      rgba(36, 41, 73, 0.9)
    ),
    url('../../../images/chair2.png');
  background-repeat: no-repeat;
  background-position: center center;
  height: 400px;
}

.appointment-row img {
  height: 520px;
  transform: translateY(-120px);
}
