.info-card {
  padding: 0 5px !important;
}
.info-primary {
  background-color: #1cc7c1;
}

.info-dark {
  background-color: #3a4256;
  color: white;
}

.info-container {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}

.info-icon {
  font-size: 3em;
  margin-right: 12px;
}
